    {% include 'head.html' %}
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
          <h1 class="mb-1">Emoĩ ape nde Ci</h1>
          <form class="login100-form validate-form" action="{{ url_for('registro1')}}" method="POST">
              <input type="text" id="ci" name="ci" class="form-control">
              <label for="form1">Cedula de Identidad</label>
              <button type="submit" class="btn btn-primary">Oĩma</button>
    
      </form>
    </div>
        <div class="overlay"></div>
      </header>
    
