{% include 'head.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
        <H1 align="center">
	<title>JAHA JAKE</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename = 'vendor/bootstrap/css/bootstrap.min.css' )}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename = 'vendor/animate/animate.css' )}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename = 'vendor/css-hamburgers/hamburgers.min.css' )}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename = 'vendor/select2/select2.min.css' )}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEyOsRD9NAYcJYyMrSHkVLLxrP7D7UPnZY4c4VwqJ1DZxn95eq" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="{{ url_for('registro2') }}" method="POST">
                        <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <form class="form-horizontal" method="post">
                                                <fieldset>
                                                    <legend class="text-center header">¡Ñañepyrũ!</legend>
                            
                                                    <div class="form-group">
                                                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                                        <div class="col-md-8">
                                                            <input id="fname" name="name" type="text" placeholder="Nde rera" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                                        <div class="col-md-8">
                                                            <input id="lname" name="name" type="text" placeholder="Nde cédula de identidad" class="form-control">
                                                        </div>
                                                    </div>
                            
                                                    
                            
                                                    <div class="form-group">
                                                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                                        <div class="col-md-8">
                                                            <input id="phone" name="phone" type="text" placeholder="Nde número de teléfono" class="form-control">
                                                        </div>
                                                    </div>
                            
                                                <input type="submit" value="Subir Datos"  class="form-control"<
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Eike
						</button>
					</div>


					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							Reikema!
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
    </H1>
</body>
</html>