{% include 'head.html' %}
<body>
	<div class="semaforo rojo"></div>
	<div class="semaforo amarillo"></div>
	<div class="semaforo verde"></div>
	<label for="temperatura-min">Temperatura Mínima</label>
	<input type="text" id="temperatura-min">
	<label for="temperatura-max">Temperatura Máximo</label>
	<input type="text" id="temperatura-max">
	<label for="time">Tiempo</label>
	<input type="text" id="time">
	<button id="btn">Establecer Valor</button>
	<script src="script.js"></script>
</body>
</html>

