{% include 'head.html' %}
<body style="background: url('img/fondo.jpg') no-repeat fixed center;">

<center>
<div class="wrapper fadeInDown" style="margin-top: 10%;">
        <div id="formContent" style="padding-top: 10%;">
          <!-- Tabs Titles -->
      
          <!-- Icon 
          <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div>-->
      
          <!-- Login Form -->
          <form action="/registro4" method="POST">
            <input type="text" id="login" class="fadeIn second" name="mes" placeholder="Ingreso/mes">
            <input type="text" id="text" class="fadeIn third" name="alimentacion" placeholder="Ja'uarã">
            <input type="text" id="text" class="fadeIn third" name="servicios" placeholder="Ande,Essap,etc">
            <input type="text" id="text" class="fadeIn third" name="otros" placeholder="Ambue mba'e">

            <input type="submit" class="fadeIn fourth" value="OIKOMA">
          </form>
          <!-- Remind Passowrd
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div> -->
      
        </div>
</div>
</center>
{% include "footer.html" %}
</body>
</html>