{% include 'head.html' %}
<body id="page-top">
    
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Bienvenidos a plata hetapp</h1>
        <h3 class="mb-5">
          <em>Mba'éichapa reime? Aguije ejurõ ape.
            koape reikuaata  mba'eichapa reipuruva'erã nde pirapire
          </em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/index">Jaha Hese</a>
      </div>
      <div class="overlay"></div>
    </header>
  