<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bienvenidos a Plata Hetaap</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{url_for ('static', filename = 'vendor/bootstrap/css/bootstrap.min.css' )}}" >  
  <link rel="stylesheet" href="{{url_for ('static', filename = 'css/estilos.css' )}}" >  
  <link rel="stylesheet" href="{{url_for ('static', filename = 'js/calendar.js' )}}" >  



  <!-- Custom Fonts -->
  <link href="{{url_for ('static', filename = 'vendor/fontawesome-free/css/all.min.css' )}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{url_for ('static', filename= 'vendor/simple-line-icons/css/simple-line-icons.css' )}}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{url_for ('static', filename= 'css/stylish-portfolio.min.css' )}}" rel="stylesheet">

</head>

